<form action="/api/user/new_password_user" method="post">

<h1>Restablecer contraseña</h1>

<div>
    {{!-- <label for="">Ingrese nuevamente su email</label>
    <input type="email" name="email"> --}}
    <label for="">Ingrese nueva contraseña</label>
    <input type="password" name="password">
    <button type="submit">Restablecer contraseña</button>
</div>

</form>