
<form action="/api/user/register" method="post" class="registro">
<div class="sign">
    <h1>Sign up</h1>
</div>
<div class="box1">
<label for="">FirstName</label>
<input type="text" placeholder="name" id="name-f" name="firts_name" required>
<label for="">LastName</label>
<input type="text" placeholder="lastname" id="last-f" name="last_name" required>
<label for="">Email</label>
<input type="email" placeholder="email" id="email-f" name="email" required>
<label for="">Age</label>
<input type="number" placeholder="age" id="ager-f" name="age" required>
<label for="">Password</label>
<input type="password" placeholder="password" id="password-f" name="password" required>
</div>


    <button type="submit" class="btn-register">Register</button>
    
</form>