<form action="/api/user/account/reset" method="post">

<h1>Restablecer contraseña</h1>
<div>
    <label for="">Ingrese su email</label>
    <input type="email" name="email">
    <button type="submit">ENVIAR EMAIL</button>
</div>

</form>